:root {
	--text-primary: #000;
	--bgPrimary: #fff;
	--bgSecondary: #f9f9f9;
	--blue: #0071bd;
	--light-blue: #e6f7ff;
	--border: #d9d9d9;
	font-size: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a:hover {
	color: var(--blue) !important;
}

.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px){
	.loader {
		margin-top: 30px;
	}
}


/* TODO .server-issues {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
} */

.app {
	display: flex;
	overflow: hidden;
}

.routes {
	padding: 20px;
	position: relative;
    height: 100%;
}

.main {
	flex: 1 1 80%;
	min-height: 100vh;

	/* чтобы footer оставался внизу, поку в main не подгрузился контент */
	display: flex;
	flex-direction: column;
}

/*** убирает меню наверх на узких экранах ***/
@media screen and (max-width: 1000px) {
	.app {
		flex-direction: column;
		overflow: hidden;
	}

	.navbar {
		flex: 1;
	}

	.main {
		flex: 1 1 80%;
		margin-top: 95px;
		margin-left: 0px;
	}

	.nav-container {
		height: 8vh;
		position: fixed;
		width: 100%;
		z-index: 100;
		background-color: var(--bgSecondary);
	}

	.menu-control-container {
		display: block !important;
	}

	.ant-menu {
		position: absolute;
		right: 0px;
	}
}

@media screen and (max-width: 500px) {
	.main {
		margin-top: 75px;
	}
}

/************************************/

/*! LINECHART !*/

.chart-header {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	color: #0071bd;
}
.chart-title {
	color: #0071bd !important;
}
.price-container {
	display: flex !important;
	gap: 20px !important;
	align-items: center !important;
	flex-wrap: wrap !important;
}
.price-change {
	font-weight: 900 !important;
}
.current-price {
	margin-top: 0px !important;
	font-weight: 900 !important;
}

/*! FOOTER !*/

.footer {
	background-color: #001529;
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
}

.footer a {
	width: 100px;
}

.footer .logo {
	margin: 0;
	width: 100%;
}

.footer .ant-anchor-ink {
	display: none;
}

.footer .ant-anchor-link {
	padding: 0 0 10px;
}